In [1]:
test_list = ['one', 'two', 'three']

In [2]:
test_list

['one', 'two', 'three']

In [3]:
for i in test_list:
    print(i)

one
two
three

In [4]:
a = [(1,2) , (3,4), (5,6)]

In [9]:
a

[(1, 2), (3, 4), (5, 6)]

In [18]:
for (first, last) in a:
    print(first + last + i)

4
8
12

In [19]:
money = True

In [20]:
money

True

In [22]:
if money:
    print("택시를 타고 가라")
else:
    print("걸어 가라")

택시를 타고 가라

In [25]:
money = 1500
card = False
if money>= 2000 or card :
    print("택시ㄱ")
else:
    print("걸어서ㄱ")

걸어서ㄱ

In [3]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
    print("in it")
else:
    print("not in it")

in it

In [4]:
card = False

pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
    print("ride taxi")
elif 'card':
    print("ride bus")
else:
    print("walk")

ride taxi

In [16]:
marks = [90,25,67,45,80]

In [17]:
number = 0

for mark in marks :
    number += 1
    if mark >= 60 :
        print("%d점은 합격" % mark)
    else :
        print("%d점은 불합격" % mark)

90점은 합격
25점은 불합격
67점은 합격
45점은 불합격
80점은 합격

In [19]:
numbers = 0

for mark in marks :
    numbers += 1
    if mark >= 60 :
        print("%d번 %d점 학생은 합격" % (numbers, mark))
    else :
        print("%d번 %d점 학생은 불합격" % (numbers, mark))

1번 90점 학생은 합격
2번 25점 학생은 불합격
3번 67점 학생은 합격
4번 45점 학생은 불합격
5번 80점 학생은 합격

In [20]:
for i in range(1,10+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [24]:
marks = [90,25,67,45,80,90,25,76,54,80,90,25,67,45,80,90,25,67,45,80]

In [25]:
len(marks)

20

In [ ]:
i = 0
for num in marks :
    i += 1
    if num < 60:
        continue
    else:
        print("%d번 학생 축하합니다." % i)

In [ ]:
number = 0
for number in range(len(marks)):
    if marks[number] < 60:
        continue
    print("%d번 학생 합격" % (number + 1))

In [ ]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j, end="\t")
    print('')

In [3]:
treeHit = 0

In [4]:
while treeHit < 10:
    
    treeHit = treeHit + 1
    print("나무를 %d번 찍었습니다." % treeHit)
    
    if treeHit == 10 :
        print("나무 넘어갑니다")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다

In [ ]:
coffee = 3
while True:
    try:
        money = int(input("돈을 넣어 주세요: "))
    except ValueError:
        continue
    
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % (money -300))
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break