QUIZ#6. (중급)
다음과 같은 기능을 하는 코드를 작성해보세요
1. 루프를 1부터 10까지 반복합니다. 
   (=i에는 1부터 10까지의 값이 반복해서 들어갑니다)
2. i를 그대로 출력하지 않고, 두 배로 늘려서 출력합니다. (i * 2)
3. 반복문 안에서 출력하지 않고, 반복문 안에서 값을 모아뒀다가 
   반복문이 끝나면 밖에서 출력합니다. 
    이를 위해서는 빈 리스트를 만든 뒤(double_list = []), 
    리스트의 .append 기능을 사용해서 값을 집어넣습니다.
4. 여기서 i가 5일 경우는 반복을 한 번만 skip하고 
   다음 반복(i가 6일 경우)을 재시작합니다.
5. 그리고 i가 8일 경우는 반복문을 강제로 종료시킵니다.

ANS 1

In [4]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

ANS 2

In [6]:
for i in range(1,11):
    print(i * 2)

2
4
6
8
10
12
14
16
18
20

ANS 3

In [20]:
double_list = []

for i in range(1,11):
    double_list.append(i * 2)
    
print(double_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

ANS 4

In [21]:
double_list = []

for i in range(1,11):
    if(i==5):
        continue
    double_list.append(i * 2)
    
print(double_list)

[2, 4, 6, 8, 12, 14, 16, 18, 20]

ANS 5

In [22]:
double_list = []

for i in range(1,11):
    if(i==5):
        continue
    if(i==8):
        break
    double_list.append(i * 2)
    
print(double_list)

[2, 4, 6, 8, 12, 14]