판다스 기초 이론 : 10 minutes to pandas

영문 : https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html

한글 : https://dataitgirls2.github.io/10minutes2pandas/

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt

In [5]:
s= pd.Series([1,3,5,np.nan,6,8])

In [6]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [8]:
dates = pd.date_range('20130101', periods=6)

In [9]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [11]:
df

                   A         B         C         D
2013-01-01 -0.588158  1.167492 -0.124289  1.615353
2013-01-02 -0.524787 -1.060072 -0.261570  0.902905
2013-01-03 -0.833863  0.660818 -1.759552 -1.731927
2013-01-04 -0.355015 -0.187156  0.289034 -0.164306
2013-01-05 -0.155274 -0.194766 -0.865587 -0.962345
2013-01-06 -0.258537  0.113932  1.185503  1.063301

In [19]:
df2 = pd.DataFrame({'A' : 1,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1, index = list(range(4)), dtype='float32'),
                    'D' : np.array([3] * 4, dtype='int32'),
                    'E' : pd.Categorical(["test", "train", "test", "train"]),
                    'F' : 'foo'})

In [15]:
df2

   A          B    C  D      E    F
0  1 2013-01-02  1.0  3   test  foo
1  1 2013-01-02  1.0  3  train  foo
2  1 2013-01-02  1.0  3   test  foo
3  1 2013-01-02  1.0  3  train  foo

In [23]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object