## SettingWithCopyWarning

df[:](원본 데이터를 조작하여 새로 데이터를 만드는 경우)를 통해 데이터를 복사했을 때 복사된 데이터 또는 원본 데이터가 수정되는 경우 chained 연산에 의한 의도치 않은 작업을 경고함

'파생된 DataFrame에 열(columns)을 하나 추가하면 어떻게 될까요? 한 DataFrame의 부분집합으로 이뤄진 view에 변경을 가하는 셈이지요. 원천 DataFrame에도 그 열을 붙여 줘야 할까요? 아니면 파생 DataFrame에만 붙이면 될까요? 원천 DataFrame에 그 열을 붙인다면, 파생 DataFrame에서 등장하지 않은 행(row)들에도 무언가를 붙여야 할까요, 말아야 할까요? 붙인다면 None으로 채워야 할까요?'

출처: https://emilkwak.github.io/pandas-dataframe-settingwithcopywarning


Pandas에서는 get연산과 set연산이 연결되어 있다면 그 결과가 copy인지 원본에서의 일부 데이터를 나타내는것인지(view) 예측 불가능하다고 함. 이 경고가 나타나는 이유는 Pandas가 작성자의 의도를 모르거나 Pandas 자신도 어떤 결과가 나올지 예측이 불가능함에 있음

출처: https://zephyrus1111.tistory.com/429

In [15]:
import pandas as pd

In [26]:
# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
# 실 데이터를 변수 형태로 넘겨도 됨
exam_data = {'수학' : [ 90, 80, 70], '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100], '체육' : [ 100, 90, 90]}

In [27]:
df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
df

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [28]:
# deep copy

df2 = df[:]
df2.drop('우현', inplace=True)

C:\Users\ezen\AppData\Local\Temp\ipykernel_5552\98881453.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('우현', inplace=True)

In [29]:
df2

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

In [30]:
df

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [31]:
# deep copy
df_copy = df.copy()
df_copy.drop('우현', inplace=True)

In [21]:
df_copy

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

In [32]:
# sallow copy

df_copy_ref = df
df_copy_ref.drop(['우현', '인아'], axis=0, inplace=True)

In [23]:
df_copy_ref

    수학  영어  음악   체육
서준  90  98  85  100

In [24]:
df

    수학  영어  음악   체육
서준  90  98  85  100