In [1]:
test_list = ['one', 'two', 'three']

In [2]:
test_list

['one', 'two', 'three']

In [4]:
for i in test_list:
    print(i)

one
two
three

In [8]:
a = [(1,2) , (3,4), (5,6)]

In [9]:
a

[(1, 2), (3, 4), (5, 6)]

In [18]:
for (first, last) in a:
    print(first + last + i)

4
8
12

In [19]:
money = True

In [20]:
money

True

In [22]:
if money:
    print("택시를 타고 가라")
else:
    print("걸어 가라")

택시를 타고 가라

In [25]:
money = 1500
card = False
if money>= 2000 or card :
    print("택시ㄱ")
else:
    print("걸어서ㄱ")

걸어서ㄱ

In [3]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
    print("in it")
else:
    print("not in it")

in it

In [4]:
card = False

pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
    print("ride taxi")
elif 'card':
    print("ride bus")
else:
    print("walk")

ride taxi

In [16]:
marks = [90,25,67,45,80]

In [17]:
number = 0

for mark in marks :
    number += 1
    if mark >= 60 :
        print("%d점은 합격" % mark)
    else :
        print("%d점은 불합격" % mark)

90점은 합격
25점은 불합격
67점은 합격
45점은 불합격
80점은 합격

In [18]:
numbers = 0

for mark in marks :
    numbers += 1
    if mark >= 60 :
        print("%d번 %d점 학생은 합격" % (numbers, mark))
    else :
        print("%d번 %d점 학생은 불합격" % (numbers, mark))

1번 학생은 합격
2번 학생은 불합격
3번 학생은 합격
4번 학생은 불합격
5번 학생은 합격